<div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Quên mật khẩu</h2>
        <span class="close-btn" (click)="closePopup()">&times;</span>
      </div>
  
      <div class="modal-body">
        <p>Vui lòng nhập số điện thoại hoặc email đã đăng ký tài khoản để lấy lại mật khẩu</p>
        
        <form>
          <div class="form-group">
            <label for="email">Số điện thoại/Email <span class="text-danger">*</span></label>
            <input type="text" id="email" class="form-control" placeholder="Vd: 0123456789">
          </div>
  
          <button type="submit" class="reset-btn">Gửi lại mật khẩu</button>
        </form>
      </div>
  
      <div class="modal-footer">
        <span>Bạn đã có Tài khoản?</span>
        <a (click)="switchTo('login')" class="login-btn">Đăng nhập</a>
      </div>
    </div>
  </div>
  