/* Ẩn popup mặc định */
.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1000; /* ✅ Đảm bảo popup nằm trên overlay */
  }
  
  /* Nội dung popup */
  .modal-content {
    padding: 20px;
  }
  
  /* Header của popup */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #675654;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 25px;
  }
  
  .close-btn {
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Input form */
  .form-group {
    margin: 10px 0px;
  }
  
  .form-group label {
    display: block; /* Đảm bảo label không bị inline */
    margin-bottom: 10px; /* Tăng khoảng cách giữa label và input */
  }  

  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #675654;
    border-radius: 5px;
  }
  
  /* Link quên mật khẩu */
  .forgot-password {
    text-align: right;
    margin-bottom: 5px;
  }
  
  .forgot-password a {
    text-decoration: none;
    color: #675654;
  }

  .forgot-password a:hover {
    text-decoration: underline;
    color: #5C4033;
  }
  
  /* Nút đăng nhập */
  .login-btn {
    width: 100px;
    padding: 10px;
    background-color: #675654; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Căn giữa nội dung nút */
    align-items: center;
    margin: 10px auto; /* Căn giữa toàn bộ nút */

  }
  
  .login-btn:hover {
    background-color: #5C4033;
  }

  /* Footer đăng ký */
  .modal-footer {
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
    
  .register-btn {
    text-decoration: none;
    color: #8b5d46;
    border: 1px solid #8b5d46;
    padding: 6px 15px;
    border-radius: 8px;
    margin-left: 10px;
  }

  .register-btn:hover {
    color: white;
    background-color: #675654;
  }

  
  /* Nút mở popup */
  .open-modal-btn {
    padding: 10px 15px;
    background-color: #8b5d46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  